@model IEnumerable<Ecosens_WebPage.Models.UsuarioViewModel>
@{
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<div class="container my-4 p-4 bg-white rounded shadow">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <form asp-action="Index" method="get" class="d-flex w-50">
            <input type="text"
                   name="searchTerm"
                   value="@(ViewData["SearchTerm"] as string)"
                   class="form-control me-2"
                   placeholder="Buscar empleado..." />
            <button type="submit" class="btn btn-outline-secondary">Buscar</button>
        </form>




        <input type="checkbox" id="modal-toggle" class="modal-toggle" />

        <label for="modal-toggle" class="btn-open-modal">+ Agregar Empleado</label>

        <div class="modal-backdrop">
            <div class="modal-content">
                <h2>Agregar Empleado</h2>
                @await Html.PartialAsync("_UsuarioForm", new Ecosens_WebPage.Models.UsuarioViewModel())
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Tipo de Empleado</th>
                <th>Area</th>






            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.Correo</td>
                    <td>@usuario.Telefono</td>
                    <td>@usuario.Tipoempleado</td>
                    <td>@usuario.Area</td>
                    
           


                    <td>
                        <a asp-controller="Usuarios"
                           asp-action="Edit"
                           asp-route-id="@usuario.Id"
                           class="btn btn-primary btn-sm">
                            Editar
                        </a>
                    </td>


                    <td>
                        <form asp-action="Delete" asp-route-id="@usuario.Id" method="get" class="d-inline">
                            <button type="submit" class="btn-delete btn-sm">Eliminar</button>
                        </form>
                    </td>


                </tr>
            }
            
        </tbody>
    </table>
</div>



